.calMain{
    width: 100vw;
    height: 100vh;
    background-color: #555;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calSection{
    width: 620px;
    min-height: 600px;
    background-image: linear-gradient(45deg, #222, #555, #222);
    padding: 10px;
    box-shadow: 0 0 10px 2.5px gray;

    border-radius: 0.75rem;
}